/* This file contains:
- Variables
- Mixins
- Resets
*/




/*  VARIABLES  */

$fontSizeBase : 16;

$white:#fff;
$blue:#428fe1;

$blue-grey:#8c9fb3;

$grey1:#928f8f;
$grey2:#8d8d90;

$grey-transp:rgba(233, 224, 224, 0.13);




/*  MIXINS & FUNCTIONS */

// Rem
@function calculateRem($size) {
    $remSize: $size / $fontSizeBase;
    @return #{$remSize}rem;
  }

@mixin fontSize($size) {
font-size: calculateRem($size);
}


// Border
@mixin border($width, $style, $color, $prop:"") {
    border#{$prop}: $width $style $color;
  }

// Gradients
@mixin linearGradient($color1, $color2, $direction){
  background: $color2; /* Old browsers */
  background: -webkit-linear-gradient(to $direction,  $color1, $color2 ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to $direction,  $color1, $color2 ); /* W3C IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
  
}




/* RESETS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*, *:before, *:after{
    box-sizing: border-box;
}


ol, ul{
    list-style: none;
}


input{
    -webkit-appearance: none;
    border-radius: 0;

  &:active {
      border: none;
  }
  &:focus{
      outline-style: none;
      box-shadow: none;
      border-color: transparent;
  }
}

button{
  &:active {
    border: none;
}
  &:focus{
      outline-style: none;
      box-shadow: none;
      border-color: transparent;
  }
}

