

body{
    height: 100vh;

    &.day{
        @include linearGradient(#2c3e50, #bdc3c7, bottom);
    }
    
    
    &.night {
        @include linearGradient(#4286f4, #373B44, right);
    }
    
}




.app-container{

    font-family: 'Mukta', sans-serif;
    margin-top: .8rem;
    padding: 1rem;
    @media (min-width: 500px){
        width: 500px;
        margin: .8rem auto;
    }

    & > div:not(:first-child){
        background: $grey-transp;
        border-radius: .5rem;
        padding: .8rem;
        color:$white;
        -webkit-box-shadow: 10px 10px 5px -9px rgba(242,239,242,1);
        -moz-box-shadow: 10px 10px 5px -9px rgba(242,239,242,1);
        box-shadow: 10px 10px 5px -9px rgba(242,239,242,1);
    }

    & > div:not(:last-child) {
        margin-bottom: 1rem;
    } 

}


.search-box{
    display: flex;
    justify-content: center;
    height: 2.3rem;

    input{
        width: 100%;
        border: none;
        border-top-left-radius:5px;
        border-bottom-left-radius:5px;
        color:$grey2;
        padding-left: .5rem;
        @include fontSize(16);
        &::placeholder {
            color: $grey1;
            @include fontSize(16);
        }
        
    }

    button{
        width: 30%;
        @include fontSize(16);
        @include border(1px, solid, $blue-grey);
        color:$white;
        background:$blue-grey;
        font-weight: bold;
        border-top-right-radius:5px;
        border-bottom-right-radius:5px;
    }
}


.main-data{
    .city-info{
        display: flex;
        justify-content: center;
        align-items: baseline;
            .city{
                @include fontSize(40); 
            }
            .country{
                @include fontSize(25);
                padding-left: .5rem; 
            }
          
        }
        
    

    .time-info{
        display:flex;
        justify-content: center;
        line-height: 0;
    }


    .climate-info{
        display: flex;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        flex-direction: column;
        align-items: center;

        .degrees{
            @include fontSize(60);
        }
        .description{
            @include fontSize(30);
            line-height: 1rem;
            text-transform: capitalize;
        }
    }

}


.extra-data{

    .data-row{
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        @include fontSize(23);
        
    }

}

  
  